.gitlab

# Configs
config.yaml
credentials_new.yaml
credentials.yaml

# IDE
.idea
.vscode

#binary files
/bin

# junk
*.html
!web/*.html
*.out

# logs
*.log

vendor

*.exe

main

portal

.env

.cache
